Repository mesg-foundation/js-sdk, pull requests merged in 2019-12, with the labels that each got.

#148 Update process name/key
  packages/api/CHANGELOG.md
  packages/api/src/protobuf/api/event.proto
  packages/api/src/protobuf/api/execution.proto
  packages/api/src/protobuf/api/instance.proto
  packages/api/src/protobuf/api/process.proto
  packages/api/src/protobuf/api/runner.proto
  packages/api/src/protobuf/api/service.proto
  packages/api/src/protobuf/types/account.proto
  packages/api/src/protobuf/types/event.proto
  packages/api/src/protobuf/types/execution.proto
  packages/api/src/protobuf/types/process.proto
  packages/api/src/protobuf/types/service.proto
  packages/api/src/typedef/execution.d.ts
  packages/api/src/typedef/process.d.ts
  packages/cli/CHANGELOG.md
  packages/cli/src/commands/process/list.ts
  packages/cli/src/commands/process/logs.ts
  packages/cli/src/utils/compiler.ts
Labels: @mesg/api, @mesg/cli, breaking change, enhancement

#149 Support nested for processes
  packages/api/src/protobuf/types/process.proto
  packages/api/src/typedef/process.d.ts
  packages/cli/package-lock.json
  packages/cli/package.json
  packages/cli/src/commands/process/compile.ts
  packages/cli/src/commands/service/compile.ts
  packages/cli/src/utils/compiler.ts
  packages/compiler/.npmignore
  packages/compiler/CHANGELOG.md
  packages/compiler/LICENSE
  packages/compiler/package-lock.json
  packages/compiler/package.json
  packages/compiler/src/decode.ts
  packages/compiler/src/index.ts
  packages/compiler/src/process.ts
  packages/compiler/src/process_test.ts
  packages/compiler/src/service.ts
  packages/compiler/src/tests/process.yml
  packages/compiler/tsconfig.json
Labels: @mesg/api, @mesg/cli, enhancement

#151 Update ownership proto
  packages/api/CHANGELOG.md
  packages/api/src/protobuf/types/ownership.proto
  packages/api/src/typedef/ownership.d.ts
Labels: @mesg/api

#152 Remove account proto and api
  packages/api/CHANGELOG.md
  packages/api/copy-proto
  packages/api/src/account.ts
  packages/api/src/index.ts
  packages/api/src/mock.ts
  packages/api/src/protobuf/api/account.proto
  packages/api/src/protobuf/api/process.proto
  packages/api/src/protobuf/types/account.proto
  packages/api/src/protobuf/types/process.proto
  packages/api/src/typedef/account.d.ts
  packages/api/src/types.ts
Labels: @mesg/api

#153 Add process path compilation
  packages/api/CHANGELOG.md
  packages/api/src/protobuf/types/process.proto
  packages/api/src/typedef/process.d.ts
  packages/compiler/CHANGELOG.md
  packages/compiler/src/process.ts
  packages/compiler/src/process_test.ts
  packages/compiler/src/tests/process.yml
Labels: @mesg/api, @mesg/compiler, breaking change, enhancement

#155 Update compiler documentation
  README.md
  packages/compiler/README.md
Labels: documentation

#156 update changelog for new version
  packages/api/CHANGELOG.md
  packages/application/CHANGELOG.md
  packages/cli/CHANGELOG.md
  packages/compiler/CHANGELOG.md
  packages/service/CHANGELOG.md
Labels: documentation

#158 Add multi step processes test
  packages/compiler/CHANGELOG.md
  packages/compiler/src/process_test.ts
  packages/compiler/src/tests/process.yml
Labels: @mesg/compiler

#161 Use engine v0.18
  packages/cli/src/version.ts
Labels: @mesg/cli

#163 Encode in base58 the hash of the service displayed in an error
  packages/cli/CHANGELOG.md
  packages/cli/src/commands/service/execute.ts
Labels: @mesg/cli
