Repository mesg-foundation/js-sdk, pull requests merged in 2020-04, with the labels that each got.

#198 Dev command for MESG Framework
  packages/cli/CHANGELOG.md
  packages/cli/package-lock.json
  packages/cli/package.json
  packages/cli/src/commands/dev.ts
  packages/cli/src/commands/process/dev.ts
  packages/cli/src/commands/service/dev.ts
  packages/cli/src/utils/error.ts
  packages/cli/src/utils/process.ts
Labels: @mesg/cli, enhancement

#215 Return error if docker build fails
  packages/runner/src/providers/container/index.ts
Labels: bug

#216 Runner authentication
  packages/cli/CHANGELOG.md
  packages/cli/src/commands/dev.ts
  packages/cli/src/commands/service/dev.ts
  packages/cli/src/utils/process.ts
  packages/cli/src/utils/runner.ts
  packages/runner/package-lock.json
  packages/runner/package.json
  packages/runner/src/index.ts
  packages/runner/src/providers/container/index.ts
  packages/service/CHANGELOG.md
  packages/service/copy-proto
  packages/service/package-lock.json
  packages/service/package.json
  packages/service/src/gogo/protobuf/gogoproto/gogo.proto
  packages/service/src/index.ts
  packages/service/src/index_test.ts
  packages/service/src/protobuf/types/execution.proto
  packages/service/src/protobuf/types/struct.proto
  packages/service/src/runner.proto
Labels: @mesg/cli, @mesg/runner, @mesg/service, enhancement

#218 Filter based on new events
  packages/api/CHANGELOG.md
  packages/api/src/util/txevent.ts
Labels: @mesg/api, enhancement

#219 Skip the start of the engine if running already
  packages/cli/CHANGELOG.md
  packages/cli/src/utils/environment-tasks.ts
Labels: @mesg/cli, enhancement

#220 Expose sign and derive mnemonic functions
  packages/api/CHANGELOG.md
  packages/api/src/account-lcd.ts
  packages/api/src/transaction.ts
  packages/runner/package-lock.json
  packages/runner/package.json
  packages/runner/src/index.ts
Labels: @mesg/api, enhancement

#223 Fix error when trying to decode null data in encoder util
  packages/api/src/util/encoder.ts
Labels: bug

#214 Add login with firebase
  packages/cli/CHANGELOG.md
  packages/cli/package-lock.json
  packages/cli/package.json
  packages/cli/src/commands/deploy/service.ts
  packages/cli/src/commands/login.ts
  packages/cli/src/commands/logout.ts
  packages/cli/src/utils/login.ts
  packages/cli/tsconfig.json
Labels: enhancement

#229 Fix issue with services with no configurations
  packages/orchestrator/CHANGELOG.md
  packages/runner/src/providers/container/index.ts
Labels: bug

#234 Fix issue with target port
  packages/runner/CHANGELOG.md
  packages/runner/src/providers/container/container.ts
Labels: @mesg/runner, bug

#231 Deploy and start services
  packages/cli/src/commands/deploy/service.ts
  packages/cli/src/utils/firebase.ts
  packages/cli/src/utils/login.ts
Labels: @mesg/cli, enhancement

#235 Support multi runners for services
  packages/runner/CHANGELOG.md
  packages/runner/src/providers/container/index.ts
Labels: @mesg/runner, bug

#239 Fix alias issue
  packages/cli/src/utils/docker.ts
  packages/cli/src/utils/runner.ts
  packages/runner/CHANGELOG.md
  packages/runner/src/providers/container/index.ts
Labels: @mesg/cli, @mesg/runner, bug

#237 Remove installation section
  packages/cli/assets/doc.md
Labels: @mesg/cli, documentation

#236 Improve process dev commands
  packages/cli/CHANGELOG.md
  packages/cli/src/commands/deploy/service.ts
  packages/cli/src/commands/dev.ts
  packages/cli/src/commands/process/dev.ts
  packages/cli/src/commands/service/dev.ts
  packages/cli/src/utils/firebase.ts
  packages/cli/src/utils/process.ts
  packages/cli/src/utils/runner.ts
Labels: @mesg/cli, enhancement

#238 deploy:process command
  packages/cli/src/commands/deploy/process.ts
  packages/cli/src/commands/deploy/service.ts
  packages/cli/src/utils/firebase.ts
  packages/cli/src/utils/process.ts
Labels: @mesg/cli, enhancement

#241 Remove dependency to the service definition
  packages/service/CHANGELOG.md
  packages/service/package.json
  packages/service/src/index.ts
Labels: @mesg/service, proposal

#245 Remove @mesg/service library
  README.md
  packages/service/.npmignore
  packages/service/CHANGELOG.md
  packages/service/LICENSE
  packages/service/README.md
  packages/service/copy-proto
  packages/service/package-lock.json
  packages/service/package.json
  packages/service/src/gogo/protobuf/gogoproto/gogo.proto
  packages/service/src/google/protobuf/descriptor.proto
  packages/service/src/index.ts
  packages/service/src/index_test.ts
  packages/service/src/protobuf/types/execution.proto
  packages/service/src/protobuf/types/struct.proto
  packages/service/src/runner/runner.proto
  packages/service/src/typedef/execution.d.ts
  packages/service/src/typedef/struct.d.ts
  packages/service/tsconfig.json
Labels: @mesg/service, breaking change
